@font-face {
  font-family: 'SF_Pro_Display_Bold';
  src: local('SF_Pro_Display_Bold'), url(./assets/fonts/SFProDisplay-Bold.otf) format('OpenType');
}

@font-face {
  font-family: 'SF_Pro_Display_Light';
  src: local('SF_Pro_Display_Light'), url(../assets/fonts/SFProDisplay-Light.ttf) format('OpenType');
}

@font-face {
  font-family: 'SF_Pro_Display_Medium';
  src: local('SF_Pro_Display_Medium'), url(./assets/fonts/SFProDisplay-Medium.otf) format('OpenType');
}

@font-face {
  font-family: 'SF_Pro_Display_Regular';
  src: local('SF_Pro_Display_Regular'), url(./assets/fonts/SFProDisplay-Regular.otf) format('OpenType');
}

@font-face {
  font-family: 'SF_Pro_Display_Thin';
  src: local('SF_Pro_Display_Thin'), url(./assets/fonts/SFProDisplay-Thin.ttf) format('OpenType');
}